In [3]:
import pandas as pd
import numpy as np
import wrds
from pandas.tseries.offsets import MonthEnd, QuarterEnd, QuarterBegin
from dateutil import parser
import time
#!pip install seaborn
import seaborn as sns

from numpy.random import randint

In [3]:
# Finish the NoteBook according to the project instructions
# to query data based on a pandas dataframe, you might find the following code useful:

stmt="""
select VARIABLES
from SQL DATABASE
where cusip_id in {}
""".format(tuple(df.cusip_id))

NameError: name 'df' is not defined

In [3]:
conn = wrds.Connection()

Enter your WRDS username [Henry]:hchan1
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

1A daily yields

In [17]:
#stmt="""
select cusip_id, TRD_EXCTN_DT, TRD_EXCTN_TM, YLD_PT
from trace.trace_enhanced
where cusip_id = '00077TAB0'
and (TRD_EXCTN_DT between '2015-01-01' and '2017-07-01')
#"""
data = conn.raw_sql(stmt)
data

SyntaxError: invalid syntax (<ipython-input-17-00b43f8f759f>, line 2)

In [ ]:
stmt="""
select cusip_id

In [ ]:
stmt="""
select

After downloading data from WRDS, using BTDS file on TRACE

In [10]:
df1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt1.csv')
df1

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,07:57:03
1,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
2,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
3,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:34:48
4,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:37:44
...,...,...,...,...,...,...
899306,30231GAS1,NaN,XOM4340687,XOM,2017-12-21,09:26:12
899307,30231GAS1,NaN,XOM4340687,XOM,2017-12-21,09:26:27
899308,30231GAS1,NaN,XOM4340687,XOM,2017-12-22,11:04:18
899309,30231GAS1,NaN,XOM4340687,XOM,2017-12-27,11:04:07
899310,30231GAS1,NaN,XOM4340687,XOM,2017-12-27,11:04:07

In [11]:
df1_1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt2.csv')
df1_1

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,94973VBG1,1.117057,ANTM4071285,ANTM,2015-06-26,13:06:35
1,94973VBG1,1.109770,ANTM4071285,ANTM,2015-06-26,15:02:43
2,94973VBG1,1.108772,ANTM4071285,ANTM,2015-06-26,15:21:22
3,94973VBG1,1.017911,ANTM4071285,ANTM,2015-06-29,11:59:25
4,94973VBG1,1.031734,ANTM4071285,ANTM,2015-06-29,11:59:49
...,...,...,...,...,...,...
426969,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426970,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426971,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:57
426972,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11
426973,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11

In [12]:
#Merged data as excel couldn't load it all
df2= df1.append(df1_1)
df2

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,07:57:03
1,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
2,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
3,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:34:48
4,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:37:44
...,...,...,...,...,...,...
426969,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426970,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426971,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:57
426972,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11
426973,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11

In [13]:
df2['trd_exctn_dt']= pd.to_datetime(df2['trd_exctn_dt']) #change date to datetime dtype

In [14]:
df2 = df2[df2['yld_pt'].notna()] #drop rows with no yields
df2 = df2.drop(columns=['bond_sym_id', 'company_symbol']) #drop bond symbol and company symbol columns.
df2 = df2.sort_values(by=['CUSIP_ID', 'trd_exctn_dt', 'trd_exctn_tm', 'yld_pt'], ascending=True) #sorted by cusip, date,time and yield
df2_ordered = df2
df2_ordered

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891065  00077TAB0  6.525827   2015-01-05     14:27:45
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891067  00077TAB0  6.786439   2015-01-06     10:23:34
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891069  00077TAB0  6.897267   2015-02-17     11:24:15
...           ...       ...          ...          ...
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3419    98934KAB6  3.009462   2017-12-04     09:27:55
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3420    98934KAB6  2.977512   2017-12-19     12:22:54
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[1150866 rows x 4 columns]

In [15]:
#Dropped duplicate dates and kept last occurence
df3 = df2_ordered.drop_duplicates(subset=['CUSIP_ID', 'trd_exctn_dt'], keep='last')
df3.keys()

Index(['CUSIP_ID', 'yld_pt', 'trd_exctn_dt', 'trd_exctn_tm'], dtype='object')

In [16]:
Grouped = df3.groupby(by=['CUSIP_ID'], as_index=False) #grouped data by cusip id

In [47]:
Grouped.groups.keys()

dict_keys(['00077TAB0', '002799AJ3', '02005NAR1', '02005NBE9', '02005NBF6', '02209SAD5', '02209SAE3', '02209SAH6', '02209SAJ2', '02209SAM5', '02209SAN3', '02209SAP8', '02209SAQ6', '02209SAR4', '02209SAS2', '025816AY5', '025816AZ2', '025816BG3', '030955AB4', '037389AK9', '05565QBT4', '05565QCA4', '05565QDN5', '05565QDP0', '05565QDR6', '06048WMW7', '06050WEX9', '06051GFS3', '06738EAC9', '06738EAE5', '06738EAG0', '06738EAJ4', '06738EAP0', '06738JBR4', '06738JE42', '06738JMT8', '06738JVA9', '06738JZB3', '06739FHT1', '06739FHV6', '06739GAR0', '06739GBB4', '06739GBP3', '06740L8C2', '06741JS26', '06741RGF2', '073902CD8', '073902KF4', '073902PN2', '073902PR3', '073902RU4', '079867AQ0', '084670BG2', '084670BL1', '14040HAX3', '14040HAY1', '14912HPK0', '165167CQ8', '170032AT3', '172967AL5', '172967DE8', '172967DY4', '172967EC1', '172967EH0', '172967EM9', '172967EP2', '172967ES6', '172967EW7', '172967FD8', '172967FF3', '172967FS5', '172967FT3', '172967FW6', '172967FX4', '172967FY2', '172967GB1', '172967GG0', '172967GK1', '172967GL9', '172967GP0', '172967GS4', '172967GT2', '172967GW5', '172967HA2', '172967HB0', '172967HC8', '172967HD6', '172967HE4', '172967HG9', '172967HK0', '172967HM6', '172967HS3', '172967HT1', '172967HU8', '172967HV6', '172967HY0', '172967JE2', '172967JH5', '172967JJ1', '172967JN2', '172967JT9', '172967JU6', '172967JW2', '172967KA8', '172967KB6', '174610AC9', '174610AL9', '184502AD4', '190441AW5', '197677AG2', '20451PKM7', '212485AE6', '22541HCC4', '22541LAR4', '225434AG4', '24422ERQ4', '25152R2U6', '25152R2X0', '26444GAA1', '26444GAB9', '26444GAC7', '26444GAD5', '26444GAE3', '26444HAD3', '31677QBA6', '31677QBD0', '33582VAC2', '337915AA0', '345370BS8', '345397VR1', '345397XH1', '345397XL2', '345397XT5', '345397XW8', '34540TQE5', '36186CBY8', '369300AL2', '369604BC6', '370425RZ5', '37246WAC9', '372546AA9', '38141EB32', '38141GEE0', '38141GFM1', '38141GGM0', '38141GGQ1', '38141GGS7', '38141GGT5', '38141GRC0', '38141GRD8', '38141GVM3', '38141GVN1', '38141GVR2', '38143C5M9', '38143USC6', '38144LAB6', '38145XAA1', '38147MAA3', '38148FAB5', '38148LAF3', '404280AE9', '404280AF6', '404280AH2', '404280AL3', '404280AM1', '404280AN9', '404280AP4', '404280AQ2', '404280AU3', '404280BH1', '40428HPB2', '40428HPQ9', '40429CFN7', '40429CGD8', '4042K1JY0', '4165X0LS7', '4165X0LW8', '446150AJ3', '44643TAA5', '455665AK5', '456866AL6', '46625HHW3', '46625HJL5', '46625HRS1', '46625HRT9', '471109AB4', '471109AM0', '48126BAA1', '50075NAT1', '50075NAU8', '50075NAV6', '50075NAW4', '50075NAZ7', '50075NBA1', '50075NBB9', '50076QAE6', '50076QAN6', '50076QAR7', '50076QAU0', '50076QAX4', '50076QAY2', '50076QAZ9', '527288BD5', '530610AC8', '539439AM1', '539439AN9', '53944VAA7', '53944VAG4', '53944XCQ6', '539473AG3', '539473AH1', '539473AQ1', '55279HAD2', '577778AS2', '59156RBK3', '59156RBL1', '6174467N3', '61746BED4', '61747YDW2', '63743FVY9', '63743FXH4', '652478AL2', '652478AQ1', '652478AU2', '652478AY4', '652478AZ1', '652478BX5', '652478BY3', '652478BZ0', '652482AJ9', '652482AM2', '652482AT7', '652482AU4', '652482AX8', '652482BC3', '652482BJ8', '65339KAB6', '65339KAH3', '65339KAJ9', '665772BN8', '665772BU2', '665772CP2', '670008AD3', '681904AN8', '681904AQ1', '690768BF2', '693476BF9', '69353RCG1', '69353RDY1', '706451BD2', '718172AA7', '718172AC3', '718172AH2', '718172AL3', '718172AM1', '718172AN9', '718172AP4', '718172AS8', '718172AT6', '718172AU3', '718172AV1', '718172AW9', '718172BD0', '718172BE8', '718172BF5', '718172BL2', '718172BM0', '718172BN8', '74254PPG1', '74254PVW9', '742741AA9', '775371AG2', '780097AW1', '780097AY7', '780097AZ4', '78009PCC3', '78010XAE1', '78010XAG6', '78010XAK7', '78011RAC7', '78012DAF0', '783764AS2', '78409VAH7', '78422XTC7', '80280JDB4', '80281LAC9', '80283LAD5', '80283LAF0', '80283LAJ2', '80283LAK9', '80283LAM5', '80283LAP8', '832248AQ1', '857477AM5', '857477AV5', '857477AW3', '867914BK8', '869099AH4', '87161CAG0', '90131HAL9', '90131HAT2', '90131HAW5', '90131HAX3', '90131HAY1', '90131HAZ8', '90131HBA2', '90131HBB0', '90131HBC8', '90131HBD6', '90131HBE4', '90131HBF1', '90131HBJ3', '90131HBM6', '90131HBR5', '90131HBS3', '90131HBT1', '90331HMC4', '90331HMU4', '913017BZ1', '913026AT7', '913026AU4', '919794AB3', '919794AC1', '92343VBH6', '931142CJ0', '931142CK7', '931142CM3', '931142CP6', '931142CT8', '931142CU5', '931142CV3', '931142DB6', '931142DC4', '931142DD2', '94973VBG1', '949746RW3', '94986RCZ2', '94986RVY4', '94986RXR7', '957638AB5', '961548AQ7', '961548AS3', '984121CK7', '98934KAB6'])

In [34]:
Grouped.get_group('00077TAB0')

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
101173  00077TAB0  6.404942   2015-06-04     11:17:07
101174  00077TAB0  6.492385   2015-06-10     11:09:56
101177  00077TAB0  6.901996   2015-07-07     14:35:19
101192  00077TAB0  6.983620   2015-07-22     16:53:00
101194  00077TAB0  6.356157   2015-10-26     12:17:34
101195  00077TAB0  7.815135   2016-01-13     13:54:12
101197  00077TAB0  7.126389   2016-02-03     09:54:43
101200  00077TAB0  7.156942   2016-07-13     15:56:01
101203  00077TAB0  6.405120   2016-09-09     09:54:12
101205  00077TAB0  7.060839   2016-10-13     12:12:18
101208  00077TAB0  7.050131   2016-10-24     11:16:17
101210  00077TAB0  6.661874   2016-11-07     10:08:34
101212  00077TAB0  7.691116   2016-11-21     10:39:31
101215  00077TAB0  7.127901   2016-11-30     16:03:20
101217  00077TAB0  7.095580   2017-02-21     15:07:16
101218  00077TAB0  5.056698   2017-04-26     12:18:44
101219  00077TAB0  5.075557   2017-04-27     10:35:24
101220  00077TAB0  5.056503   2017-05-15     08:17:23
101221  00077TAB0  4.982207   2017-05-17     11:25:59
101223  00077TAB0  4.982186   2017-05-19     07:52:33
101224  00077TAB0  5.327666   2017-05-22     11:58:36
101227  00077TAB0  5.450286   2017-05-30     11:48:00
101230  00077TAB0  5.288855   2017-06-01     12:08:08
101231  00077TAB0  5.243308   2017-06-06     11:43:38
101232  00077TAB0  4.993223   2017-06-16     13:30:42
101236  00077TAB0  5.151789   2017-06-27     12:12:00
101241  00077TAB0  5.165521   2017-07-19     12:06:42
101244  00077TAB0  5.020352   2017-08-30     16:04:17
101246  00077TAB0  5.266048   2017-09-14     13:51:00
101248  00077TAB0  5.055978   2017-09-20     12:12:00
101250  00077TAB0  5.046612   2017-09-29     10:52:32
101252  00077TAB0  5.056046   2017-10-11     09:17:13
101254  00077TAB0  5.065454   2017-10-13     10:51:35
101256  00077TAB0  5.055614   2017-11-17     10:03:32
101262  00077TAB0  5.055604   2017-11-20     09:35:51
101267  00077TAB0  5.250523   2017-12-05     15:08:51
101270  00077TAB0  5.290617   2017-12-19     12:20:25

In [70]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113786 entries, 891064 to 3421
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CUSIP_ID      113786 non-null  object
 1   yld_pt        113786 non-null  float64
 2   trd_exctn_dt  113786 non-null  datetime64[ns]
 3   trd_exctn_tm  113786 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 4.3+ MB

In [174]:
df4_1 = df4.set_index(['CUSIP_ID', 'trd_exctn_dt'])
df4_1

                          yld_pt trd_exctn_tm
CUSIP_ID  trd_exctn_dt
00077TAB0 2015-01-05    6.608047     14:27:45
          2015-01-06    6.842175     10:23:34
          2015-02-17    7.002821     11:24:15
          2015-03-31    6.816467     14:59:18
          2015-04-24    6.029157     12:10:55
...                          ...          ...
98934KAB6 2017-11-22    2.936286     09:27:49
          2017-11-28    2.865028     08:08:18
          2017-11-30    2.971758     17:23:00
          2017-12-04    3.210928     09:27:55
          2017-12-19    2.960962     12:22:55

[113786 rows x 2 columns]

In [177]:
df4_1 = df4_1.groupby(['CUSIP_ID', 'trd_exctn_dt']).size()
df4_1

CUSIP_ID   trd_exctn_dt
00077TAB0  2015-01-05      1
           2015-01-06      1
           2015-02-17      1
           2015-03-31      1
           2015-04-24      1
                          ..
98934KAB6  2017-11-22      1
           2017-11-28      1
           2017-11-30      1
           2017-12-04      1
           2017-12-19      1
Length: 113786, dtype: int64

In [119]:
#for bond, CUSIP_ID in df4_1:
  #  print(bond)
   # print(CUSIP_ID)

1b 180 day stock return volatility

In [34]:
#stmt2="""
select cusip, permno, permco, date, ret
from crsp.dsf
where permno = 'list_of_permno'
and (date between '2015-01-01' and '2017-07-01')
"""
# conn.raw_sql(stmt2)

SyntaxError: invalid syntax (<ipython-input-34-973160ca8550>, line 2)

Using permco I have found stock return of the bonds using CRSP dsf

In [67]:
dfret=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\permco_ret.csv', encoding='utf-8-sig')
dfret

C:\Users\Henry\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

        PERMNO        date  PERMCO        RET
0        14593  2013-01-02       7   0.031676
1        14593  2013-01-03       7   -0.01263
2        14593  2013-01-04       7  -0.027847
3        14593  2013-01-07       7  -0.005882
4        14593  2013-01-08       7   0.002691
...        ...         ...     ...        ...
267065   16851  2019-12-24   56027   -0.00219
267066   16851  2019-12-26   56027  -0.000784
267067   16851  2019-12-27   56027          0
267068   16851  2019-12-30   56027  -0.022595
267069   16851  2019-12-31   56027   0.030663

[267070 rows x 4 columns]

In [66]:
#dfret.columns = dfret.columns.str.strip()
#dfret.columns

In [68]:
#Changed data type into appriopriate types
dfret['date']= pd.to_datetime(dfret['date'])
dfret['RET'] = pd.to_numeric(dfret['RET'], errors='coerce')

In [69]:
dfret = dfret[dfret['RET'].notna()] #dropped rows with no numbers in return column

In [7]:
dfret.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267034 entries, 0 to 267069
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  267034 non-null  int64
 1   date    267034 non-null  datetime64[ns]
 2   PERMCO  267034 non-null  int64
 3   RET     267034 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 10.2 MB

In [87]:
Permgroups = dfret.groupby('PERMNO', as_index=False)
Permgroups

In [63]:
#Permgroups.groups.keys() to find all the keys

In [64]:
#Permgroups.get_group(10145) #to get a group

In [95]:
dfstdev = dfret.groupby('PERMNO')['RET'].rolling(180).std()
dfstdev

PERMNO
10145   185819         NaN
        185820         NaN
        185821         NaN
        185822         NaN
        185823         NaN
                    ...
93013   252669    0.015193
        252670    0.015193
        252671    0.015195
        252672    0.015201
        252673    0.015196
Name: RET, Length: 267034, dtype: float64

In [71]:
dfstdev = dfstdev.dropna()

In [91]:
dfstdev

PERMNO
10145   185998    0.010378
        185999    0.010288
        186000    0.010363
        186001    0.010348
        186002    0.010347
                    ...
93013   252669    0.015193
        252670    0.015193
        252671    0.015195
        252672    0.015201
        252673    0.015196
Name: RET, Length: 237236, dtype: float64

AttributeError: 'Series' object has no attribute 'info'

In [65]:
dfstdev.get(10145) #get a group

185998    0.010378
185999    0.010288
186000    0.010363
186001    0.010348
186002    0.010347
            ...
187576    0.011681
187577    0.011674
187578    0.011669
187579    0.011650
187580    0.011648
Name: RET, Length: 1583, dtype: float64

1d

In [ ]:
dfrating=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\acf_351b_python_data.csv')
dfrating.head()

1b attempt 2

In [78]:
dfreturns=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\stock_return.csv')
dfreturns

        PERMNO        date        RET
0        14593  2014-01-02  -0.014064
1        14593  2014-01-03  -0.021966
2        14593  2014-01-06   0.005453
3        14593  2014-01-07  -0.007156
4        14593  2014-01-08   0.006338
...        ...         ...        ...
155592   16851  2017-12-22   0.006561
155593   16851  2017-12-26  -0.009291
155594   16851  2017-12-27          0
155595   16851  2017-12-28    0.00098
155596   16851  2017-12-29  -0.004055

[155597 rows x 3 columns]

In [118]:
dfreturns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155597 entries, 0 to 155596
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  155597 non-null  int64
 1   date    155597 non-null  object
 2   RET     155582 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.6+ MB

In [79]:
dfreturns['date']= pd.to_datetime(dfreturns['date'])
dfreturns['RET'] = pd.to_numeric(dfreturns['RET'], errors='coerce')

In [80]:
dfreturns = dfreturns[dfreturns['RET'].notna()] #dropped rows with no numbers in return column

In [81]:
dfreturns2 = dfreturns
dfreturns2.keys()

Index(['PERMNO', 'date', 'RET'], dtype='object')

In [82]:
Perm_Groups = dfreturns2.groupby(by=['PERMNO'], as_index=False)
Perm_Groups

In [83]:
Perm_Groups.groups.keys()

dict_keys([10145, 10890, 11600, 11703, 11850, 12060, 12369, 12431, 12490, 12558, 12622, 12781, 13598, 13688, 13856, 13901, 13928, 13963, 13964, 14465, 14541, 14558, 14593, 14889, 15054, 15553, 16678, 16851, 17005, 17144, 17478, 17778, 17830, 18163, 18411, 18542, 19166, 19350, 20053, 20415, 20626, 21186, 22517, 23042, 23393, 23931, 24109, 24205, 24328, 25081, 25320, 25785, 26403, 27828, 27887, 27959, 27983, 29890, 34746, 35044, 35167, 35554, 38703, 39642, 42906, 43553, 47896, 48486, 49154, 49656, 49680, 52708, 55976, 59176, 59408, 60097, 60206, 60442, 60506, 60599, 60986, 61735, 62383, 63714, 64486, 64936, 65875, 66093, 66157, 66181, 66800, 68144, 69032, 69761, 70332, 70519, 71563, 72696, 72726, 73809, 75064, 75152, 75381, 75418, 75811, 76076, 76221, 76592, 77157, 77178, 77274, 77462, 77661, 77730, 78877, 78977, 79210, 79363, 80072, 80112, 81055, 81677, 82775, 83443, 84129, 84776, 85592, 85888, 85913, 85994, 86305, 86356, 86868, 87033, 87137, 87842, 88197, 88239, 88597, 88822, 89006, 89014, 89154, 89179, 89195, 89199, 89238, 89329, 89330, 89731, 89900, 90401, 90441, 90442, 90601, 90776, 91103, 92121, 92355, 92467, 92597, 92602, 93013])