In [2]:
import pandas as pd
import numpy as np
import wrds
from pandas.tseries.offsets import MonthEnd, QuarterEnd, QuarterBegin
from dateutil import parser
import time
#!pip install seaborn
import seaborn as sns

from numpy.random import randint

In [3]:
# Finish the NoteBook according to the project instructions
# to query data based on a pandas dataframe, you might find the following code useful:

stmt="""
select VARIABLES
from SQL DATABASE
where cusip_id in {}
""".format(tuple(df.cusip_id))

NameError: name 'df' is not defined

In [3]:
conn = wrds.Connection()

Enter your WRDS username [Henry]:hchan1
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

1A daily yields

In [17]:
#stmt="""
select cusip_id, TRD_EXCTN_DT, TRD_EXCTN_TM, YLD_PT
from trace.trace_enhanced
where cusip_id = '00077TAB0'
and (TRD_EXCTN_DT between '2015-01-01' and '2017-07-01')
#"""
data = conn.raw_sql(stmt)
data

SyntaxError: invalid syntax (<ipython-input-17-00b43f8f759f>, line 2)

In [ ]:
stmt="""
select cusip_id

In [ ]:
stmt="""
select

START FROM HERE

After downloading data from WRDS, using BTDS file on TRACE

In [50]:
df1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt1.csv')
df1

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,07:57:03
1,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
2,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
3,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:34:48
4,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:37:44
...,...,...,...,...,...,...
899306,30231GAS1,NaN,XOM4340687,XOM,2017-12-21,09:26:12
899307,30231GAS1,NaN,XOM4340687,XOM,2017-12-21,09:26:27
899308,30231GAS1,NaN,XOM4340687,XOM,2017-12-22,11:04:18
899309,30231GAS1,NaN,XOM4340687,XOM,2017-12-27,11:04:07
899310,30231GAS1,NaN,XOM4340687,XOM,2017-12-27,11:04:07

In [51]:
df1_1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt2.csv')
df1_1

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,94973VBG1,1.117057,ANTM4071285,ANTM,2015-06-26,13:06:35
1,94973VBG1,1.109770,ANTM4071285,ANTM,2015-06-26,15:02:43
2,94973VBG1,1.108772,ANTM4071285,ANTM,2015-06-26,15:21:22
3,94973VBG1,1.017911,ANTM4071285,ANTM,2015-06-29,11:59:25
4,94973VBG1,1.031734,ANTM4071285,ANTM,2015-06-29,11:59:49
...,...,...,...,...,...,...
426969,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426970,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426971,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:57
426972,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11
426973,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11

In [52]:
#Merged data as excel couldn't load it all
df2= df1.append(df1_1)
df2

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,07:57:03
1,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
2,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
3,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:34:48
4,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:37:44
...,...,...,...,...,...,...
426969,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426970,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426971,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:57
426972,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11
426973,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11

In [53]:
df2['trd_exctn_dt']= pd.to_datetime(df2['trd_exctn_dt']) #change date to datetime dtype

In [54]:
df2 = df2[df2['yld_pt'].notna()] #drop rows with no yields
df2 = df2.drop(columns=['bond_sym_id', 'company_symbol']) #drop bond symbol and company symbol columns.
df2 = df2.sort_values(by=['CUSIP_ID', 'trd_exctn_dt', 'trd_exctn_tm', 'yld_pt'], ascending=True) #sorted by cusip, date,time and yield
df2_ordered = df2
df2_ordered

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891065  00077TAB0  6.525827   2015-01-05     14:27:45
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891067  00077TAB0  6.786439   2015-01-06     10:23:34
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891069  00077TAB0  6.897267   2015-02-17     11:24:15
...           ...       ...          ...          ...
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3419    98934KAB6  3.009462   2017-12-04     09:27:55
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3420    98934KAB6  2.977512   2017-12-19     12:22:54
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[1150866 rows x 4 columns]

In [56]:
#Dropped duplicate dates and kept last occurence
df3 = df2_ordered.drop_duplicates(subset=['CUSIP_ID', 'trd_exctn_dt'], keep='last')
df3

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
...           ...       ...          ...          ...
3402    98934KAB6  2.936286   2017-11-22     09:27:49
3406    98934KAB6  2.865028   2017-11-28     08:08:18
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[113786 rows x 4 columns]

In [11]:
Grouped = df3.groupby(by=['CUSIP_ID'], as_index=False) #grouped data by cusip id

In [48]:
#Grouped.groups.keys()

In [49]:
#Grouped.get_group('00077TAB0')

1b 180 day stock return volatility

In [34]:
#dont need this, this is for postsql?
#stmt2="""
select cusip, permno, permco, date, ret
from crsp.dsf
where permno = 'list_of_permno'
and (date between '2015-01-01' and '2017-07-01')
"""
# conn.raw_sql(stmt2)

SyntaxError: invalid syntax (<ipython-input-34-973160ca8550>, line 2)

Using permco I have found stock return of the bonds using CRSP dsf

In [57]:
dfret=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\stock_return.csv', encoding='utf-8-sig')
dfret

        PERMNO        date        RET
0        14593  2014-01-02  -0.014064
1        14593  2014-01-03  -0.021966
2        14593  2014-01-06   0.005453
3        14593  2014-01-07  -0.007156
4        14593  2014-01-08   0.006338
...        ...         ...        ...
155592   16851  2017-12-22   0.006561
155593   16851  2017-12-26  -0.009291
155594   16851  2017-12-27          0
155595   16851  2017-12-28    0.00098
155596   16851  2017-12-29  -0.004055

[155597 rows x 3 columns]

In [66]:
#dfret.columns = dfret.columns.str.strip()
#dfret.columns

In [58]:
#Changed data type into appriopriate types
dfret['date']= pd.to_datetime(dfret['date'])
dfret['RET'] = pd.to_numeric(dfret['RET'], errors='coerce')

In [59]:
dfret = dfret[dfret['RET'].notna()] #dropped rows with no numbers in return column

In [60]:
dfret = dfret.sort_values(by=['PERMNO', 'date'], ascending=True)
dfret

        PERMNO       date       RET
108207   10145 2014-01-02 -0.011492
108208   10145 2014-01-03  0.002214
108209   10145 2014-01-06 -0.000994
108210   10145 2014-01-07  0.004092
108211   10145 2014-01-08 -0.003965
...        ...        ...       ...
146987   93013 2017-12-22  0.001886
146988   93013 2017-12-26 -0.001345
146989   93013 2017-12-27  0.006642
146990   93013 2017-12-28 -0.007936
146991   93013 2017-12-29  0.002696

[155577 rows x 3 columns]

In [108]:
dfret.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155577 entries, 0 to 155596
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  155577 non-null  int64
 1   date    155577 non-null  datetime64[ns]
 2   RET     155577 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 4.7 MB

In [61]:
Permgroups = dfret.groupby('PERMNO', as_index=False)
Permgroups

In [97]:
#Permgroups.groups.keys() to find all the keys

In [78]:
#Permgroups.get_group(10145) #to get a group

In [62]:
dfstdev = dfret.groupby('PERMNO')[['RET']].rolling(180).std()
dfstdev= dfstdev.rename(columns={'RET':'st_dev'})

In [71]:
#dfstdev = dfstdev.dropna()

In [17]:
#dfstdev.get(10145) #get a group

In [134]:
#dfstdev1 = dfstdev.to_frame() #change series to df

In [63]:
dfstdev

                 st_dev
PERMNO
10145  108207       NaN
       108208       NaN
       108209       NaN
       108210       NaN
       108211       NaN
...                 ...
93013  146987  0.010455
       146988  0.010445
       146989  0.010446
       146990  0.010463
       146991  0.010431

[155577 rows x 1 columns]

In [191]:
left = dfret
left.columns

Index(['PERMNO', 'date', 'RET'], dtype='object')

In [190]:
right = dfstdev
right.columns
right

                 st_dev
PERMNO
10145  108207       NaN
       108208       NaN
       108209       NaN
       108210       NaN
       108211       NaN
...                 ...
93013  146987  0.010455
       146988  0.010445
       146989  0.010446
       146990  0.010463
       146991  0.010431

[155577 rows x 1 columns]

In [185]:
pd.merge(left, right, on = 'index', how = 'left')

KeyError: 'index'

1c

In [44]:
df1c= pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\1c_lev.csv')
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,NaN,A,6.16
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,NaN,A,6.34
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,NaN,NaN,NaN,NaN,A,6.75
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,NaN,A,6.44
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,NaN,NaN,NaN,NaN,A,7.27

In [45]:
df1c['lctq'] = df1c['lctq'].fillna(0)

In [ ]:
#book leverage = (DLTTQ + LCTQ) / ATQ
#Market leverage = (DLTTQ + LCTQ) / (PRCCQ * CSHOQ)

In [46]:
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,NaN,NaN,NaN,0.0,A,6.75
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,NaN,NaN,NaN,0.0,A,7.27

In [47]:
df1c['Book_lev'] = (df1c['dlttq'] + df1c['lctq'])/df1c['atq']
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31,0.465044
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97,0.455399
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69,0.471121
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57,0.485137
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05,0.503504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16,0.084823
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34,0.088576
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,NaN,NaN,NaN,0.0,A,6.75,NaN
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44,0.100309
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,NaN,NaN,NaN,0.0,A,7.27,NaN

In [48]:
df1c['Market_lev'] = (df1c['dlttq'] + df1c['lctq'])/(df1c['prccq'] + df1c['cshoq'])
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev,Market_lev
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31,0.465044,23.806541
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97,0.455399,23.916753
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69,0.471121,25.383039
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57,0.485137,27.375082
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05,0.503504,29.009398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16,0.084823,16.329389
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34,0.088576,17.946502
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,NaN,NaN,NaN,0.0,A,6.75,NaN,NaN
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44,0.100309,20.119722
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,NaN,NaN,NaN,0.0,A,7.27,NaN,NaN

In [49]:
df1c.loc[df1c['Market_lev'] == 0]

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev,Market_lev
1255,15509,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,2669724.000,3826.508,0.0,0.0,A,42.59,0.0,0.0
1257,15509,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,2548523.000,3826.508,0.0,0.0,A,37.88,0.0,0.0
1259,15509,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,2595666.000,3920.703,0.0,0.0,A,31.12,0.0,0.0
1261,15509,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,2557261.000,3920.703,0.0,0.0,A,37.61,0.0,0.0
1263,15509,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,2416467.000,3967.556,0.0,0.0,A,40.82,0.0,0.0
1265,15509,2017-09-30,2017,3,INDL,C,D,STD,USD,2017Q3,2017Q3,2526214.000,3967.556,0.0,0.0,A,49.41,0.0,0.0
1517,29613,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,2383.021,72.472,0.0,0.0,I,4.80,0.0,0.0
1518,29613,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,2418.487,72.849,0.0,0.0,I,5.18,0.0,0.0
1519,29613,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,2468.273,72.789,0.0,0.0,I,5.41,0.0,0.0
1520,29613,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,2468.029,72.793,0.0,0.0,I,6.07,0.0,0.0
1521,29613,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,2982.005,72.775,0.0,0.0,I,5.71,0.0,0.0
1522,29613,2016-06-30,2016,2,INDL,C,D,STD,USD,2016Q2,2016Q2,2966.574,73.255,0.0,0.0,I,5.54,0.0,0.0
1523,29613,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,3174.821,76.263,0.0,0.0,I,6.06,0.0,0.0
1524,29613,2016-12-31,2016,4,INDL,C,D,STD,USD,2016Q4,2016Q4,3079.058,76.262,0.0,0.0,I,8.12,0.0,0.0
1525,29613,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,3136.672,76.263,0.0,0.0,I,7.71,0.0,0.0

1d

In [ ]:
dfrating=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\acf_351b_python_data.csv')
dfrating.head()